<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <title>CRUD</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/login">Examen</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Tienda">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/producto">Productos</a>
          </li>
         <li class="nav-item">
            <a class="nav-link disabled">Compras</a>
          </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Salir</a>
            </li></ul>
        </div>
      </div>
    </div>
  </nav>



      <% if (producto) { %>
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Producto</div>
                <div class="card-body">
                    <form action="/updateproducto" method="POST">
                         <input id="id_p" name="id_p" value="<%= producto.id_p %>" hidden>
                        
                        <div>
                        <label for="nombrep" class="form-label">Nombre producto</label>
                        <input type="text" class="form-control" id="nombrep" name="nombrep" tabindex="1" value="<%= producto.nombrep  %>">
                        </div>   
                        <div class="mb-3">
                        <label for="sucursal" class="form-label">Presupuesto</label>
                        <input type="number" class="form-control" id="sucursal" name="sucursal" tabindex="2" value="<%= producto.presupuesto  %>">
                        </div>  
                        <div class="mb-3">
                          <label for="costoreal" class="form-label">Costo Real</label>
                          <input type="number" class="form-control" id="costoreal" name="costoreal" tabindex="3" value="<%= producto.costoreal  %>">
                        </div> 
                        <div class="mb-3">
                          <label for="nota" class="form-label">Nota</label>
                          <input type="text" class="form-control" id="nota" name="nota" tabindex="4" value="<%= producto.nota  %>">
                        </div> 
                        <div class="mb-3">
                            <label for="tienda" class="form-label">Tienda</label>
                            <select id="tienda" name="tienda" class="form-select" aria-label="Default select example" tabindex="5" value="<%=  producto.tienda  %>">
                              <option <%= producto.tienda=='1' ? "selected" : '' %> value="1">1</option>
                                <option <%= producto.tienda=='2' ? "selected" : '' %> value="2">2</option>                            
                              </select>  
                        </div>   
                                                                                                       
                        <button type="submit" class="btn btn-primary" tabindex="6">Guardar</button>
                        <a href="/producto" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
      <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>