<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>CRUD</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/login">Examen</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/tienda">Tienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/compra">compras</a>
              </li>
             <li class="nav-item">
                <a class="nav-link" href="/compra">Compras</a>
              </li>
            </ul>
            <div class="d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">Salir</a>
                </li></ul>
            </div>
          </div>
        </div>
      </nav>


      <div class="container">     <h1>Llistado de compras</h1> 

      <div  eblclass="container">    
        <a href="/createcompra" class="btn btn-outline-primary mt-4"><i class='bx bxs-plus-circle bx-md'></i></a>    
      <table class="table table-bordered table-striped text-center mt-4 table-responsive-xl table-responsive-md table-responsive-sm">
        <thead>
          <tr class="bg-primary text-white">
            <th scope="col">ID_C</th>
            <th scope="col">NOMBREC</th>
            <th scope="col">FECHA</th>            
            <th scope="col">CANT PRODUCTOS</th>     
            <th scope="col">ACCIONES</th>  
          </tr>
        </thead>
        <tbody>
          <% resultsc.forEach((compra)=>{ %>
            <tr>  
                <td><%= compra.id_c %></td>  
                <td><%= compra.nombrec %></td>
                <td><%= compra.fecha %></td>  
                <td><%= compra.cantprod %></td>

                <td>
                  <a href="/editcompra/<%= compra.id_c %>" class="btn btn-outline-info"><i class='bx bxs-edit'></i></a>
                  <a href="/deletecompra/<%= compra.id_c %>" class="btn btn-outline-danger"><i class='bx bxs-trash-alt'></i></a>                   
                </td>
            </tr>                                   
         <% }) %>
        </tbody>
      </table>
      </div>

    </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>    
</body>
</html>